__pycache__/
*.py[cod]
.pytest_cache/
.DS_Store
.ipynb_checkpoints/
.vscode/
.idea/
*.log
*.out
*.err
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.synctex.gz
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
results/*
!results/.gitkeep
